<Files "contact-error.log">
    Require all denied
</Files>
<Files "config.local.php">
    Require all denied
</Files>

RewriteEngine On
RewriteRule ^clanek/([a-z0-9-]+)/?$ clanek.php?slug=$1 [L,QSA]
RewriteRule ^sitemap\.xml$ sitemap.php [L]
